body{
    margin: 0;
    padding: 0;
}

.container-simulator{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #691222;
    color: aliceblue;
    height: 100vh;

}